/* Font: https://www.1001freefonts.com/data-control.font */
@font-face {
    font-family: 'Data Control';
    src: url('fonts/DataControl.eot');
    src: url('fonts/DataControl.eot?#iefix') format('embedded-opentype'),
        url('fonts/DataControl.woff2') format('woff2'),
        url('fonts/DataControl.woff') format('woff'),
        url('fonts/DataControl.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.right {
    text-align: right;
}

body {
    background:#EBEBEB;
    font-family: 'Data Control';
    font-weight: 200;
    font-style: normal;
    letter-spacing: 0.3ch;
}

/*
 * Outer, middle, center technique from https://stackoverflow.com/a/6182661/450733
 */
#outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
  
#middle {
    display: table-cell;
    vertical-align: middle;
}
  
#inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    display:flex;
    flex-direction: column;
    transform-origin: top;
    transform:scale(0);
}

#topbar {
    background:#333333;
    display:flex;
    color:#ffffff;
    transform-origin: 50% 50%;
    position: relative;
}

/*
 * From: https://css-tricks.com/centering-percentage-widthheight-elements/
 */
#apple-logo {
    position: absolute;
    left:50%;
    transform: translateX(-50%);
}

#date {
    text-align: right;
    height:72px; /* Same height as the logo */
    color:#9E9E9E;
    line-height:72px;
    flex-grow: 1;
    margin-right:20px;
    transform: scale(0);
}

#details {
    background: #ffffff;
    transform-origin:top center;
    transform: scale(0);
}

.receipt-table {
    width:100%;
    font-size: 0.8rem;
    border:0px;
}

.receipt-table thead {
    color:#cccccc;
}

.receipt-table thead, .receipt-table td, .receipt-table th, .receipt-table tr {
    background-color: transparent;
    font-weight: normal;
    border:0px !important;
    padding:15px;
}

.receipt-table tbody td, .receipt-table tfoot td {
    padding:8px 15px;
}

.receipt-table tfoot {
    margin-top:25px;
}

.receipt-table .grand-total {
    font-size: 1.3rem;
}

.receipt-table .row-anim {
    opacity: 0;
}

.qtrCircles {
    display:flex;
}

/*
 * From https://paulund.co.uk/how-to-create-different-shapes-in-css
 */
.circle {
    width:10px; 
    height:10px; 
    border:1px solid transparent;
    background: #ebebeb; /* same as body */
}

.topright {
    border-radius: 0 14px 0 0;
}

.topleft {
    border-radius: 14px 0 0 0;
}

.bottomright {
    border-radius: 0 0 0 14px;
}

.bottomleft {
    border-radius: 0 0 14px 0;
}

.qtrCircles .dummy {
    flex-grow: 1;
}

.dummy.dashed {
    border-bottom:2px dashed #EBEBEB; /* Same color as the body bg */
}

#barcode {
    background: #ffffff;
    text-align: center;
    transform-origin:top center;
    transform: scale(0);
}

#barcode img {
    padding:8px;
}

/*
 * Optional
 * From: https://codepen.io/Angelfire/pen/opdDt
 */
@import url('https://fonts.googleapis.com/css?family=Raleway');
#buttons {
    font-family: 'Raleway', sans-serif;
    margin-top:30px;
    text-align: center;
}

#buttons a {
    padding:15px;
    background: #000000;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
}